<!DOCTYPE html>
<html data-ng-app="MarketSimulatorApp">
<head>
	<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
	<title>Market Simulator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
	<!-- endbower -->

	
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
		<div class="container">
			<div class="navbar-header">
				<button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
				<a class="navbar-brand" href="#/">Home</a>
			</div>
			<div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
				<ul class="nav navbar-nav navbar-right">
					<li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
					<li data-ng-hide="!authentication.isAuth"><a href="#!/stocks">My Stocks</a></li>
					<li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
					<li data-ng-hide="authentication.isAuth"> <a href="#!/login">Login</a></li>
					<li data-ng-hide="authentication.isAuth"> <a href="#!/signup">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="page-header text-center">
				<h1>Market Simulator</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div data-ng-view="">
		</div>
	</div>
	<hr />
	<div id="footer">
		<div class="container">

		</div>
	</div>
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<!-- endbower -->

	<script src="app/app.js"></script>
	<!-- Load services -->
	<script src="app/services/authInterceptorService.js"></script>
	<script src="app/services/authService.js"></script>
	<script src="app/services/stocksService.js"></script>
	<script src="app/services/userWalletService.js"></script>
	<script src="app/services/userDataService.js"></script>	
	<!-- Load controllers -->
	<script src="app/controllers/indexController.js"></script>
	<script src="app/controllers/homeController.js"></script>
	<script src="app/controllers/loginController.js"></script>
	<script src="app/controllers/signupController.js"></script>
	<script src="app/controllers/stocksController.js"></script>
</body>
</html>