<div class="row">
<div class="col-md-6">
<form class="form-login" role="form">
	<h2 class="form-login-heading">Login</h2>
	<label for="username">Username</label>
	<input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
	<label for="username">Password</label>
	<input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
	<button type="submit" class="btn btn-primary" data-ng-click="login()">Login</button>
	<div data-ng-hide="message == ''" class="alert alert-danger">
		{{message}}
	</div>
</form>
</div>
</div>